<!-- not used -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="stats-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ nav-stats-short }}
  </a>
  <div class="dropdown-menu" aria-labelledby="stats-dropdown">
    <span class="dropdown-item">{{ nav-stats-bicycle }}</span>
    <span class="dropdown-item">{{ nav-stats-hike }}</span>
    <span class="dropdown-item">{{ nav-stats-train }}</span>
    <a class="dropdown-item" href="/rok/{{ current_year }}.html">więcej...</a>
  </div>
</li>
