/doc/
/libs/
/lib/
/bin/
/.shards/

/data/images/**/*
/public/**/*

# sensitive data
release_ovh.sh

# compiled blog processor
blog

# old, temp files to look up later
old

# when working on features with lib in different path
watch_dev.sh
watch_dev_smart.sh
src/odkrywajac_polske_local.cr
./blog
