/doc/
/libs/
/lib/
/bin/
/.shards/

# dev env
/env/dev/data/images/**/*
/env/dev/public/**/*
/env/dev/cache/mod_watcher.yml
/env/dev/blog_release
/env/dev/blog

# full env
/env/full/data/images/**/*
/env/full/public/**/*
/env/full/cache/mod_watcher.yml
/env/full/blog_release
/env/full/blog

# credentials
env/full/upload_tiles.sh

/drafts/

# don't want to create tmp file for this
# but this will be changed a lot
/cache/mod_watcher.yml

# sensitive data
release_ovh.sh

# compiled blog processor
blog

# old, temp files to look up later
old

# when working on features with lib in different path
watch_dev.sh
watch_dev_smart.sh
./blog
