---
layout:         default
permalink:      /
---

{% assign counter = 0 %}
{% assign already_visible = 8 %}

<div class="grid-super-container">
  <div class="grid grid-container">
    {% for post in site.posts %}
      {% if post.tags contains "todo" %}
        <!-- {{ post.title }} -->
      {% else %}
        {% assign counter = counter | plus: 1 %}
        {% if counter < already_visible %}
          {% assign klass = "" %}
        {% else %}
          {% assign klass = "hidden" %}
        {% endif %}

        {% include post_box.html klass=klass %}

      {% endif %}
    {% endfor %}
  </div>
  <div id="after-grid"></div>
</div>


<script type="text/javascript">
  $(document).ready(function () {
    window_width = $(window).width()
    col_width = 600;

    if (window_width < 650) {
      window_width = 350;
      col_width = 300;
    }

    // masonry
    var $grid = $('.grid').masonry({
      fitWidth: true,
      columnWidth: col_width,
      gutter: 20
    });

    function showNext() {
      isVis = $('#after-grid').visible(true);
      if (isVis) {
        visible_count = $(".grid-item:not('.hidden')").length;
        window_width = $(window).width()
        col_width = 600;

        if (window_width < 650) {
          window_width = 350;
          col_width = 300;
        }


        cols = Math.floor( window_width / col_width );
        rest_cols = visible_count % cols;
        rest_cols = cols - rest_cols;

        console.log( "cols " + cols + " rest " + rest_cols );

        show_cols = cols + rest_cols;

        $(".grid-item.hidden:lt(" + show_cols + ")").hide().removeClass("hidden").show();
        $('.grid').masonry();
        return true;
      }
      return false;
    }

    function showLoop() {
      setTimeout(function(){
        result = showNext();
        if (result) {
          showLoop();
        }
      },
      600);
    }

    $(window).scroll(function() {
      showNext();
    });

    $('.grid').infinitescroll({
      behavior: 'local',
      binder: $('.grid'), // scroll on this element rather than on the window
      // other options
    });

    showLoop();

  });
</script>
