---
layout:         page
description:    "trochę tekstu obok zdjęć i filmów"
header-ext-img: https://drscdn.500px.org/photo/136552853/m%3D2048/b2dd79b46cd3009b69c77c3f2811ca86
---

<h3>Witaj</h3>

<p>Poniżej jest lista pięciu najciekawszych ostatnich wpisów. <a href="/list">Tutaj</a> możesz zobaczyć
wszystkie.</p>

{% assign max_posts = 5 %}

{% for data_tag in site.data.tags %}
  {% if data_tag.slug == "best" %}
    {% assign tag = data_tag %}
  {% endif %}
{% endfor %}

{% if site.tags["best"] %}
  {% for post in site.tags["best"] %}
    {% if max_posts > 0 %}

      <div class="post-preview">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <h2 class="post-title">
            {{ post.title }}
          </h2>
          {% if post.subtitle %}
            <h3 class="post-subtitle">
              {{ post.subtitle }}
            </h3>
          {% endif %}
        </a>
        <p class="post-meta">
          Utworzone przez {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} dnia {{ post.date | date: "%Y-%m-%d" }}
        </p>
      </div>
      <hr>
      {% assign max_posts = max_posts | minus: 1%}

    {% endif %}
  {% endfor %}
{% else %}
  <p>Nie ma wpisów do tego tagu.</p>
{% endif %}
