---
layout:         default
permalink:      /
---
<div class="grid-super-container">
  <div class="grid grid-container">
    {% for post in site.posts %}
      {% if post.tags contains "todo" %}
        <!-- {{ post.title }} -->
      {% else %}
        {% include post_box.html klass="hidden"%}
      {% endif %}
    {% endfor %}
  </div>
  <div id="after-grid"></div>
</div>


<script type="text/javascript">
  $(document).ready(function () {
    // masonry
    var $grid = $('.grid').masonry({
      fitWidth: true,
      columnWidth: 600,
      gutter: 20
    });

    function showNext() {
      isVis = $('#after-grid').visible(true);
      if (isVis) {
        cols = Math.floor( $(window).width() / 600 );
        $(".grid-item.hidden:lt(" + cols + ")").hide().removeClass("hidden").show();
        $('.grid').masonry();
        return true;
      }
      return false;
    }

    function showLoop() {
      setTimeout(function(){
        result = showNext();
        if (result) {
          showLoop();
        }
      },
      400);
    }

    $(window).scroll(function() {
      showNext();
    });

    $('.grid').infinitescroll({
      behavior: 'local',
      binder: $('.grid'), // scroll on this element rather than on the window
      // other options
    });

    showLoop();

  });
</script>
