---
layout: default
title: "Krainy"
ignore_nav: true
permalink: /lands/
header-ext-img: https://drscdn.500px.org/photo/76197267/m%3D2048/af7f0a557aa3f95ca5d3e595bd929832
---


<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ page.header-ext-img }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>Krainy geograficzne</h1>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Post Content -->
<article>
    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        {% for land_type in site.data.land_types %}
          <h1>{{ land_type.name }}</h1>
          
          <ul>
          {% for land in site.data.lands %}
            {% if land.type == land_type.slug %}
              <li>
                <a href="{{ site.baseurl }}/land/{{land.slug}}">
                  <h3>
                    {{ land.name }}
                  </h3>
                </a>  

                {% if land.visited %}
                  <h5>
                    <i class="fa fa-check"></i>
                    {{ land.visited }}
                  </h5>
                {% endif %}
                
              </li>
            {% endif %}
          {% endfor %}
          </ul>
          
          <hr>
        {% endfor %}  
        
      </div>
    </div>
  </div>
</article>

<hr>

