---
layout: default
title: "Najciekawsze miejsca"
ignore_nav: true
permalink: /pois/
header-ext-img: https://drscdn.500px.org/photo/76197267/m%3D2048/af7f0a557aa3f95ca5d3e595bd929832
---


<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ page.header-ext-img }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>Najciekawsze miejsca</h1>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Post Content -->
<article>
    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <h1>Najciekawsze miejsca</h1>

        <ul>
          {% for post in site.posts %}
            {% if post.pois.size > 0 %}
              <li>
                <a href="{{ post.url | prepend: site.baseurl }}">
                  <strong>
                    {{ post.date | date: "%Y-%m-%d" }}
                    -
                    {{ post.title }}
                  </strong>
                </a><br>

                <ul>
                  {% for poi in post.pois %}
                    <li><a target="_blank" href="http://mapa.ump.waw.pl/ump-www/?zoom=13&lat={{ poi.lat }}&lon={{ poi.lon }}&mlat={{ poi.lat }}&mlon={{ poi.lon }}">{{ poi.lat }},{{ poi.lon }} - {{ poi.name}}</a></li>
                  {% endfor %}
                </ul>

              </li>
            {% endif %}
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>
</article>

<hr>
