---
layout: default
title_not_used: "Miejscowości"
permalink: /towns/
header-ext-img: https://drscdn.500px.org/photo/76197267/m%3D2048/af7f0a557aa3f95ca5d3e595bd929832
---


<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ page.header-ext-img }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>Miejscowości</h1>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Post Content -->
<article>
    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <h1>Miejscowości, gminy i okolice</h1>
        <ul>
        {% for place in site.data.places %}
          {% if place.region != 't' %}
            <li>
              <a href="{{ site.baseurl }}/place/{{place.slug}}">
                <h3>
                  {{ place.name }}
                </h3>
              </a>
            </li>
          {% endif %}
        {% endfor %}
        </ul>        
        
      </div>
    </div>
  </div>
</article>

<hr>

