<div
  class="gallery-image {{ klass }}"
  data-src="{{ img.url }}"
  data-post-url="{{ post.url }}"
  data-lat="{{ img.lat }}"
  data-lon="{{ img.lon }}"
  data-altitude="{{ img.altitude }}"
  data-time="{{ img.time_display }}"
  id="{{ img.full_image_sanitized }}"
>
  <img
    src="{{ img.src }}"
    alt="{{ img.alt }}"
    title="{{ img.alt }}"
    class="gallery-image-img" />

  <a href="{{ img.url }}" target="_blank" class="gallery-zoom">
    <img src="/img/gallery-zoom.png" alt="{{ post.title }}" />
  </a>

  <a href="{{ post.url }}" target="_blank" class="gallery-book">
    <img src="/img/gallery-book.png" alt="{{ post.title }}" />
  </a>

  <a href="{{ post.url }}" target="_blank" class="gallery-photo-time">
    {{ img.time_display }}
  </a>

  <div class="gallery-image-hover"></div>
  <div class="gallery-image-exif-container">
    {{ img.exif_string }}
  </div>
</div>
