<div class="timeline-month-element">
  <div class="timeline-header">
    <span class="timeline-year">{{ year }}</span>
    -
    <span class="timeline-month">{{ month }}</span>
    <br/>

    <div class="timeline-month-summary-line timeline-total-self">do tej pory: {{ total-self }}</div>
    <div class="timeline-month-summary-line timeline-repeated-self">powtórzenia: {{ repeated-self }}</div>
    <div class="timeline-month-summary-line timeline-monthly-self">w miesiącu: {{ monthly-self }}</div>
  </div>

  <div class="timeline-towns">
    {{ list }}
  </div>

  <div class="timeline-count hidden">
    {{ count_self_propelled }}
  </div>
</div>
