{% assign keywords_string = 'Turystyka' %}

{% assign post = page %}
{% if post.tags.size > 0 %}
    {% capture tags_content %}Tagi {% if post.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %}: {% endcapture %}
    {% for post_tag in post.tags %}
        {% for data_tag in site.data.tags %}
            {% if data_tag.slug == post_tag %}
                {% assign tag = data_tag %}
            {% endif %}
        {% endfor %}
        {% if tag %}
            {% capture keywords_string %}{{ keywords_string }}, {{ tag.name }}{% endcapture %}
        {% endif %}
    {% endfor %}
{% else %}
    {% assign tags_content = '' %}
{% endif %}

{% if post.towns.size > 0 %}
    {% capture towns_content %}Miejscowości {% if post.towns.size == 1 %}<i class="fa fa-globe"></i>{% else %}<i class="fa fa-globe"></i>{% endif %}: {% endcapture %}
    {% for post_town in post.towns %}
        {% for data_place in site.data.towns %}
            {% if data_place.slug == post_town %}
                {% assign town = data_place %}
            {% endif %}
        {% endfor %}
        {% if town %}
            {% capture keywords_string %}{{ keywords_string }}, {{ town.name }}{% endcapture %}
        {% endif %}
    {% endfor %}
{% else %}
    {% assign towns_content = '' %}
{% endif %}

{% if post.lands.size > 0 %}
    {% capture lands_content %}Krainy {% if post.lands.size == 1 %}<i class="fa fa-globe"></i>{% else %}<i class="fa fa-globe"></i>{% endif %}: {% endcapture %}
    {% for post_land in post.lands %}
        {% for data_land in site.data.lands %}
            {% if data_land.slug == post_land %}
                {% assign land = data_land %}
            {% endif %}
        {% endfor %}
        {% if land %}
            {% capture keywords_string %}{{ keywords_string }}, {{ land.name }}{% endcapture %}
        {% endif %}
    {% endfor %}
{% else %}
    {% assign lands_content = '' %}
{% endif %}

<meta name="keywords" content="{{ keywords_string }}">
<meta name="description" content="{% if page.title %}{{ page.title }}. {{ page.subtitle}}{% else %}{{ site.description }}{% endif %}">
<meta name="author" content="Aleksander Kwiatkowski">
<meta name="robots" content="index, follow">
