<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">

    <!-- <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title> -->
    <!-- <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"> -->
    {% seo %}

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/clean-blog.css" | prepend: site.baseurl }}">

    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/lora.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/open-sans.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/octopus.css" | prepend: site.baseurl }}">

    <script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>
    <!--<script src="{{ "/js/live.js " | prepend: site.baseurl }}"></script>-->
    
</head>

{% include tracking.html %}
