<img src="/img/mosaic.jpg" width="4092" height="2730" alt="Wpisy" usemap="#postmap">
<map name="postmap">
<area shape="rect" coords="0,0,682,455" href="/trip/2016/04/04/na-wschod-od-sierakowskiego-parku-krajobrazowego/" alt="Na wschód od Sierakowskiego Parku Krajobrazowego">
<area shape="rect" coords="682,0,1364,455" href="/trip/2016/04/03/z-mosiny-do-kosciana/" alt="Z Mosiny za Kościan">
<area shape="rect" coords="1364,0,2046,455" href="/trip/2016/02/22/narty-w-zielencu/" alt="Narty w Zieleńcu">
<area shape="rect" coords="2046,0,2728,455" href="/trip/2016/01/30/turystyka-tramwajowa-w-krakowie-i-na-slasku/" alt="Turystyka tramwajowa w Krakowie i na Śląsku">
<area shape="rect" coords="2728,0,3410,455" href="/trip/2016/01/17/spacer-po-okolicy-miedzylesia/" alt="Spacer po okolicy Międzylesia">
<area shape="rect" coords="3410,0,4092,455" href="/trip/2016/01/16/wschod-slonca-na-sniezniku/" alt="Wschód słońca na Śnieżniku">
<area shape="rect" coords="0,455,682,910" href="/trip/2016/01/16/poznowieczorny-dojazd-do-jodlowa/" alt="Późnowieczorny dojazd do Jodłowa">
<area shape="rect" coords="682,455,1364,910" href="/trip/2016/01/02/noworoczne-opuszczenie-gorcow/" alt="Noworoczne opuszczenie Gorców">
<area shape="rect" coords="1364,455,2046,910" href="/trip/2016/01/01/przejscie-do-rdzawki/" alt="Przejście do Rdzawki">
<area shape="rect" coords="2046,455,2728,910" href="/trip/2015/12/31/przechadzka-na-turbacz/" alt="Przechadzka na Turbacz">
<area shape="rect" coords="2728,455,3410,910" href="/trip/2015/12/30/poczatek-sylwestra-w-maciejowej/" alt="Początek Sylwestra w Maciejowej">
<area shape="rect" coords="3410,455,4092,910" href="/trip/2015/10/18/wejscie-na-ostrzyce/" alt="Wejście na Ostrzycę">
<area shape="rect" coords="0,910,682,1365" href="/trip/2015/10/17/petla-po-pogorzu-kaczawskim/" alt="Pętla po Pogórzu Kaczawskim">
<area shape="rect" coords="682,910,1364,1365" href="/trip/2015/09/01/z-lednogory-do-skokow-krecac-sie-wokol-jezior/" alt="Z Lednogóry do Skoków kręcać się wokół jezior">
<area shape="rect" coords="1364,910,2046,1365" href="/trip/2015/08/23/z-cieszyno-do-szczecinka/" alt="Z Cieszyno do Szczecinka">
<area shape="rect" coords="2046,910,2728,1365" href="/trip/2015/08/22/z-rebusza-do-cieszyno/" alt="Z Rębusza do Cieszyno">
<area shape="rect" coords="2728,910,3410,1365" href="/trip/2015/08/09/do-gluszynki/" alt="Do Głuszynki">
<area shape="rect" coords="3410,910,4092,1365" href="/trip/2015/08/02/szybki-kurs-do-janikowa/" alt="Szybki kurs do Janikowa">
<area shape="rect" coords="0,1365,682,1820" href="/trip/2015/08/01/przez-powidz-i-granice-dwoch-wojewodztw/" alt="Przez Powidz i granicę dwóch województw">
<area shape="rect" coords="682,1365,1364,1820" href="/trip/2015/07/26/do-milicza-trasa-dawnej-kolei-waskotorowej/" alt="Do Milicza trasą dawnej kolei wąskotorowej">
<area shape="rect" coords="1364,1365,2046,1820" href="/trip/2015/07/25/zachodnia-czesc-doliny-baryczy-od-zmigrodu/" alt="Zachodnia część Doliny Baryczy, od Żmigrodu po Rudę Sułowską">
<area shape="rect" coords="2046,1365,2728,1820" href="/trip/2015/07/18/dokonczenie-trasy-z-opalenicy-do-zbaszynia/" alt="Dokończenie trasy z Opalenicy do Zbąszynia">
<area shape="rect" coords="2728,1365,3410,1820" href="/trip/2015/07/14/zejscie-z-przehyby-do-starego-sacza/" alt="Zejście z Przehyby do Starego Sącza">
<area shape="rect" coords="3410,1365,4092,1820" href="/trip/2015/07/13/z-kordowca-przez-radziejowa-do-przehyby/" alt="Z Kordowca przez Radziejową do Przehyby">
<area shape="rect" coords="0,1820,682,2275" href="/trip/2015/07/12/z-hali-labowskiej-przez-rytro-do-kordowca/" alt="Z Hali Łabowskiej przez Rytro do Kordowca">
<area shape="rect" coords="682,1820,1364,2275" href="/trip/2015/07/11/z-muszyny-na-hale-labowska/" alt="Z Muszyny na Halę Łabowską">
<area shape="rect" coords="1364,1820,2046,2275" href="/trip/2015/06/27/zachod-od-poznania-do-opalenicy/" alt="Na zachód od Poznania do Opalenicy.">
<area shape="rect" coords="2046,1820,2728,2275" href="/trip/2015/06/06/ze-szklarskiej-poreby-do-janowic-wielkich/" alt="Ze Szklarskiej Poręby do Janowic Wielkich">
<area shape="rect" coords="2728,1820,3410,2275" href="/trip/2015/06/05/wokol-jeleniej-gory/" alt="Na północ wokół Jeleniej Góry">
<area shape="rect" coords="3410,1820,4092,2275" href="/trip/2015/06/04/okolice-harrachowa-i-wielkiej-mumlawy/" alt="Okolice Harrachova i Wielkiej Mumławy">
<area shape="rect" coords="0,2275,682,2730" href="/trip/2015/05/30/pierwsza-wizyta-w-wielkopolskim-parku-narodowym/" alt="Pierwsza wizyta w Wielkopolskim Parku Narodowym">
<area shape="rect" coords="682,2275,1364,2730" href="/trip/2015/05/24/w-strone-sremu-ale-bez-niego/" alt="W stronę Śremu, ale bez niego">
<area shape="rect" coords="1364,2275,2046,2730" href="/trip/2015/05/22/w-strone-skokow-po-raz-5/" alt="W stronę Skoków, po raz 5-ty">
<area shape="rect" coords="2046,2275,2728,2730" href="/trip/2015/05/02/z-szamotul-do-trzcianki-zielonym/" alt="Z Szamotuł do Trzcianki">
<area shape="rect" coords="2728,2275,3410,2730" href="/trip/2015/04/18/kolko-przez-poligon-w-biedrusku/" alt="Kółko przez poligon w Biedrusku">
<area shape="rect" coords="3410,2275,4092,2730" href="/trip/2015/03/18/w-strone-skokow-po-raz-4-ty/" alt="W stronę Skoków, po razy 4-ty">
</map>
