<div class="route-filter">

  <form class="form-horizontal">

    <div class="form-group">
      <label for="filter-flag-normal" class="col-sm-5 control-label">Typ odległościowy trasy</label>
      <div class="col-sm-7">
        <input type="checkbox" id="filter-flag-small" value="small" class="route-filter-field">
        Krótkie (do 40km)<br/>

        <input type="checkbox" id="filter-flag-normal" value="normal" class="route-filter-field" checked>
        Normalna (30-80km)<br/>

        <input type="checkbox" id="filter-flag-long" value="long" class="route-filter-field" checked>
        Długie (50-120km)<br/>

        <input type="checkbox" id="filter-flag-touring" value="touring" class="route-filter-field">
        Wielodniowe (>110km)<br/>

      </div>
    </div>

    <div class="form-group">
      <label for="filter-route-both" class="col-sm-5 control-label">Początek lub koniec trasy</label>
      <div class="col-sm-7">
        <select name="filter-route-both" id="filter-route-both" class="route-filter-field form-control input-lg">
          <option value="">(początek lub koniec)</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="filter-route-from" class="col-sm-5 control-label">Początek trasy</label>
      <div class="col-sm-7">
        <select name="filter-route-from" id="filter-route-from" class="route-filter-field form-control input-lg">
          <option value="">(początek)</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="filter-route-to" class="col-sm-5 control-label">Koniec trasy</label>
      <div class="col-sm-7">
        <select name="filter-route-to" id="filter-route-to" class="route-filter-field form-control input-lg">
          <option value="">(koniec)</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="filter-distance-less-than" class="col-sm-5 control-label">Dystans mniejszy niż</label>
      <div class="col-sm-7">
        <select id="filter-distance-less-than" class="route-filter-field form-control input-lg">
          <option value="">(dystans mniejszy niż)</option>
          <option value="30">30km</option>
          <option value="40">40km</option>
          <option value="50">50km</option>
          <option value="60">60km</option>
          <option value="70">70km</option>
          <option value="80">80km</option>
          <option value="90">90km</option>
          <option value="100">100km</option>
          <option value="125">125km</option>
          <option value="150">150km</option>
          <option value="175">175km</option>
          <option value="200">200km</option>
          <option value="250">250km</option>
          <option value="300">300km</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="filter-distance-more-than" class="col-sm-5 control-label">Dystans większy niż</label>
      <div class="col-sm-7">
        <select id="filter-distance-more-than" class="route-filter-field form-control input-lg">
          <option value="">(dystans większy niż)</option>
          <option value="30">30km</option>
          <option value="40">40km</option>
          <option value="50">50km</option>
          <option value="60">60km</option>
          <option value="70">70km</option>
          <option value="80">80km</option>
          <option value="90">90km</option>
          <option value="100">100km</option>
          <option value="125">125km</option>
          <option value="150">150km</option>
          <option value="175">175km</option>
          <option value="200">200km</option>
          <option value="250">250km</option>
          <option value="300">300km</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="filter-total-cost-less-than" class="col-sm-5 control-label">Całkowity czas mniejszy</label>
      <div class="col-sm-7">
        <select id="filter-total-cost-less-than" class="route-filter-field form-control input-lg">
          <option value="">(całkowity czas mniejszy niż)</option>
          <option value="60">1h</option>
          <option value="120">2h</option>
          <option value="180">3h</option>
          <option value="240">4h</option>
          <option value="300">5h</option>
          <option value="360">6h</option>
          <option value="420">7h</option>
          <option value="480">8h</option>
          <option value="540">9h</option>
          <option value="600">10h</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="filter-transport-cost-less-than" class="col-sm-5 control-label">Czas transportu mniejszy</label>
      <div class="col-sm-7">
        <select id="filter-transport-cost-less-than" class="route-filter-field form-control input-lg">
          <option value="">(czas transportu mniejszy niż)</option>
          <option value="60">1h</option>
          <option value="90">1.5h</option>
          <option value="120">2h</option>
          <option value="150">2.5h</option>
          <option value="180">3h</option>
          <option value="210">3.5h</option>
          <option value="240">4h</option>
          <option value="300">5h</option>
          <option value="360">6h</option>
          <option value="420">7h</option>
          <option value="480">8h</option>
          <option value="540">9h</option>
          <option value="600">10h</option>
        </select>
      </div>
    </div>

  </form>
</div>

<hr/>
