<div class="route-filter">

  <form class="form-horizontal">

    <p>
      Trasy o odległości
      <span id="distance-range" class="strong">10-200km</span>,
      z kierunkiem
      <span id="direction-name" class="strong">dowolnym</span>.
    </p>

    <div class="form-group">
      <p>Zakres odległości </p>

      <label for="min-distance">Minimalny dystans</label>
      <input type="range" class="custom-range route-filter-field" min="10" max="200" step="10" value="10" id="min-distance">

      <label for="max-distance">Maksymalny dystans</label>
      <input type="range" class="custom-range route-filter-field" min="10" max="200" step="10" value="200" id="max-distance">
    </div>

    <div class="form-group">
      <label for="direction">Kierunek (wszystko, północny i zgodnie ze wskazówkami zegara)</label>
      <input type="range" class="custom-range route-filter-field" min="-10" max="180" step="10" value="10" id="direction">
    </div>

    <div class="form-row">
      <div class="col">
        <select name="filter-route-both" id="filter-route-both" class="route-filter-field form-control input-sm">
          <option value="">(początek lub koniec)</option>
        </select
      </div>

      <!--
      <div class="col">
        <select name="filter-route-from" id="filter-route-from" class="route-filter-field form-control input-lg">
          <option value="">(początek)</option>
        </select>
      </div>

      <div class="col">
        <select name="filter-route-to" id="filter-route-to" class="route-filter-field form-control input-lg">
          <option value="">(koniec)</option>
        </select>
      </div>
      -->
    </div>

    <div class="hidden">
    <div class="form-group">
      <label for="filter-route-both-major" class="col-sm-5 control-label">Początek lub koniec trasy (główne miejscowości)</label>
      <div class="col-sm-7">
        <select name="filter-route-both-major" id="filter-route-both-major" class="route-filter-field form-control input-lg">
          <option value="">(początek lub koniec)</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="filter-total-cost-less-than" class="col-sm-5 control-label">Całkowity czas mniejszy</label>
      <div class="col-sm-7">
        <select id="filter-total-cost-less-than" class="route-filter-field form-control input-lg">
          <option value="">(całkowity czas mniejszy niż)</option>
          <option value="60">1h</option>
          <option value="120">2h</option>
          <option value="180">3h</option>
          <option value="240">4h</option>
          <option value="300">5h</option>
          <option value="360">6h</option>
          <option value="420">7h</option>
          <option value="480">8h</option>
          <option value="540">9h</option>
          <option value="600">10h</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="filter-transport-cost-less-than" class="col-sm-5 control-label">Czas transportu mniejszy</label>
      <div class="col-sm-7">
        <select id="filter-transport-cost-less-than" class="route-filter-field form-control input-lg">
          <option value="">(czas transportu mniejszy niż)</option>
          <option value="60">1h</option>
          <option value="90">1.5h</option>
          <option value="120">2h</option>
          <option value="150">2.5h</option>
          <option value="180">3h</option>
          <option value="210">3.5h</option>
          <option value="240">4h</option>
          <option value="300">5h</option>
          <option value="360">6h</option>
          <option value="420">7h</option>
          <option value="480">8h</option>
          <option value="540">9h</option>
          <option value="600">10h</option>
        </select>
      </div>
    </div>
    </div>

  </form>
</div>

<hr/>
