---
layout:         default
description:    "trochę tekstu obok zdjęć i filmów"
header-ext-img: https://drscdn.500px.org/photo/136552853/m%3D2048/b2dd79b46cd3009b69c77c3f2811ca86
---

<div class="grid-super-container">

  <div class="grid grid-container">

    {% for post in paginator.posts %}
    {% assign counter = counter | plus: 1 %}
    {% assign page_desc = paginator.total_pages | minus: paginator.page %}
    {% assign posts_count = page_desc | times: paginator.per_page %}
    {% assign post_number = posts_count | plus: paginator.per_page | minus: counter | plus: 1%}

      {% include post_box.html klass=""%}

    {% endfor %}

  </div>

  <div id="after-grid" style="height: 120px">

    <div class="grid-paginate-container">

      {% if paginator.total_pages > 1 %}
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Poprzednia</a>
        {% else %}
          <span>&laquo; Poprzednia</span>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
            <em>{{ page }}</em>
          {% elsif page == 1 %}
            <a href="{{ "/list" | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
          {% else %}
            <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
          {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Następna &raquo;</a>
        {% else %}
          <span>Następna &raquo;</span>
        {% endif %}
      {% endif %}

    </div>

  </div>
</div>






<script type="text/javascript">
  $(document).ready(function () {
    // masonry
    var $grid = $('.grid').masonry({
      fitWidth: true,
      columnWidth: 600,
      gutter: 20
    });
  });
</script>
