<p>
  Jest to moje subiektywne zestawienie zdjęć w różnych porach roku.
</p>

<table class="season-table">
  {{ content }}
</table>

<hr />

<p>
  Zastanawiajac się kiedy jest najpiękniejsza "jesień" postanowiłem, że warto by było
  zrobić zestawienie zdjęć. Wykorzystując dzień zrobienia zdjęcia
  pokazać ogólny stan przyrody.
</p>

<p>
  Postanowiłem wybrać zdjęcia raczej standardowe,
  jak najlepiej pokazujące przyrodę (drzewa, roślinność).
</p>

<p>
  Preferowane są również
  zdjęcia, które nie wykorzystują za bardzo specjalnych warunków pogodowych
  (mgła, złota godzina, ...) ale z drugiej strony chciałem pokazać jakie zdjęcia
  najłatwiej można zrobić. Dlatego to zestawienie jest bardzo subiektywne.
</p>
