<span class="geo-links">
  <a
    href="https://www.openstreetmap.org/?mlat={{ lat }}&mlon={{ lon }}#map={{ zoom }}/{{ lat }}/{{ lon }})"
    target="_blank"><img src="/img/osm.ico" alt="openstreetmap" class="map-icon" /></a>
  <a
    href="http://mapa.ump.waw.pl/ump-www/?zoom={{ zoom }}&lat={{ lat }}&lon={{ lon }}&mlat={{ lat }}&mlon={{ lon }}"
    target="_blank"><img src="/img/ump.ico" alt="ump" class="map-icon" /></a>
  <a
    href="http://www.google.com/maps/place/{{ lat }},{{ lon }}"
    target="_blank"><img src="/img/google_maps.ico" alt="google maps" class="map-icon" /></a>
</span>
