/* added */
.vimeo {
  padding-bottom: 10px;
}
.summary-post-todo {
  font-size: 80%;
}
#map-container {
  position: absolute;
  /* top: 0px; */
  /* 0 above makes map overlap header */
  padding: 0px;
  background-color: #fff;
}
.intro-header-fixed {
  position: absolute;
}
.planner-table {
  width: 100%;
}
.planner-table td, .planner-table th {
  padding: 5px;
  border-bottom: dotted 1px black;
}
.planner-table td {
  text-align: center;
}
.planner-table .planner-visited-often, .planner-table .planner-last-visit-near {
  background-color: #3d8;
}
.planner-table .planner-visited-sometime {
  background-color: #ad3;
}
.planner-table .planner-visited-few, .planner-table .planner-last-visit-half-year {
  background-color: #dc3;
}
.planner-table .planner-visited-once, .planner-table .planner-last-visit-year-ago {
  background-color: #d83;
  color; #fff;
}
.planner-table .planner-unvisited, .planner-table .planner-last-visit-long-ago {
  background-color: #d33;
  color; #fff;
}
.planner-table .planner-frequent-visit {
  background-color: #3d8;
}

.planner-table .planner-access-time-10-or-more {
  background-color: #d83;
  color; #fff;
}
.planner-table .planner-access-time-9 {
  background-color: #ca3;
  color; #fff;
}
.planner-table .planner-access-time-8 {
  background-color: #bb3;
  color; #fff;
}
.planner-table .planner-access-time-7 {
  background-color: #ac3;
  color; #fff;
}
.planner-table .planner-access-time-6 {
  background-color: #8d3;
  color; #fff;
}
.planner-table .planner-access-time-5 {
  background-color: #6e3;
  color; #fff;
}
.planner-table .planner-access-time-4 {
  background-color: #5f3;
  color; #fff;
}
.planner-table .planner-access-time-3 {
  background-color: #5f7;
  color; #fff;
}
.planner-table .planner-access-time-2 {
  background-color: #5f9;
  color; #fff;
}
.planner-table .planner-access-time-1 {
  background-color: #5fa;
  color; #fff;
}
.planner-table .planner-access-time-0 {
  background-color: #5ec;
  color; #fff;
}

.todo_route {
  position: relative;

  border-bottom: 1px dotted gray;
  padding-bottom: 10px;
  padding-top: 5px;

  min-height: 140px;
}

.todo_route .route_from {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 160%
}

.todo_route .route_from_cost {
  position: absolute;
  top: 40px;
  left: 0px;
  font-size: 60%
}

.todo_route .route_to {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 160%
}

.todo_route .route_to_cost {
  position: absolute;
  top: 40px;
  right: 0px;
  font-size: 60%
}

.todo_route .route_inner {
  position: absolute;
  top: 0px;
  width: 100%;
  font-size: 130%;
  text-align: center;
}

.todo_route .route_inner_cost {
  position: absolute;
  top: 30px;
  width: 100%;
  text-align: center;
  font-size: 60%
}


.todo_route .route_cost_summary {
  padding-top: 58px;
  padding-bottom: 10px;
  width: 100%;
  text-align: left;
  font-size: 80%
}

.text-nowrap {
    white-space: nowrap;
}

.icon-bicycle {
  margin-top: 5px;
  background-image: url("/img/icon-bicycle.png");
  width: 22px;
  height: 14px;
}

.icon-hike {
  margin-top: 5px;
  background-image: url("/img/icon-hike.png");
  width: 8px;
  height: 14px;
}

.icon-train {
  margin-top: 5px;
  background-image: url("/img/icon-train.png");
  width: 30px;
  height: 14px;
}

.icon-bus {
  margin-top: 5px;
  background-image: url("/img/icon-bus.png");
  width: 30px;
  height: 14px;
}

.icon-car {
  margin-top: 5px;
  background-image: url("/img/icon-car.png");
  width: 14px;
  height: 14px;
}

.icon-walk {
  margin-top: 5px;
  background-image: url("/img/icon-walk.png");
  width: 14px;
  height: 14px;
}

.pro-tip {
  font-weight: 700;
  position: absolute;
  left: -80px;
  background-color: #ccf;
  padding: 5px;
  border: 1px dotted #77c;
}

.timeline-month-element {
  position: relative;

  /*border: 1px dotted gray;*/
  padding-left: 150px;
  margin-bottom: 25px;
  min-height: 75px;
}

.timeline-month-element .timeline-header {
  position: absolute;
  top: 0px;
  left: 0px;
}

.timeline-month-element .timeline-count {
  position: absolute;
  top: 0px;
  right: 0px;
}

.timeline-month-element .timeline-year {
  font-size: 120%;
}

.timeline-month-element .timeline-month {
}

.timeline-month-element .timeline-month-summary-line {
  font-size: 60%;
}

.timeline-month-element .timeline-towns {
  display: flex;
  flex-flow: row wrap;
}

.timeline-month-element .timeline-town {
  display: inline-block;
  background-color: #ddd;
  margin: 3px;
  padding: 2px 4px 2px 4px;
}

.timeline-month-element .timeline-self-propelled {
  background-color: #cdf;
}

.timeline-month-element .timeline-vehicle-propelled {
  background-color: #eee;
}

.season-table .season-time {
  font-size: 60%;
  min-width: 80px;
}

.season-table .gallery-image {
  margin: 0px;
  margin-bottom: 0px;
}

.season-table .gallery-is-timeline {
  /*border: 1px red solid;*/
}

.season-table .gallery-is-not-timeline {
  opacity: 0.5;
}

.season-table .season-cell {
  padding: 0px;
  display: inline-block;
}

/* ugly fix to enable overflow on mobile */
.season-table .season-images {
  white-space: normal !important;
}

.season-table .season-month {
  font-size: 180%;
  font-weight: bold;
}

.season-table .season-day {
  font-size: 120%;
  font-weight: bold;
}

.geo-links .map-icon {
  max-height: 18px;
  display: inline-block;
  padding: 0px;
}

.photo-map-tile {
  saturate(30%);
}

/* portfolio */
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio .portfolio-title {
  /* bottom: 80px; */
}

.portfolio .portfolio-desc {
  /* bottom: 40px; */
}

.portfolio {
  background-size: cover;
  padding: 6% 0 0 0;
  color: #fff;
}

.coord-photo-table {
  padding: 0 0 0 0 !important;
}

.coord-photo-table td {
  padding: 0 0 0 0 !important;
}

.coord-photo-cell {
  width: 32px;
  min-width: 32px;
  max-width: 32px;

  height: 32px;
  min-height: 32px;
  max-height: 32px;

  border: 1px gray solid;
}

.coord-photo-cell-blank-link {
  width: 32px;
  height: 32px;
}

.coord-photo-cell-disabled {
  background-color: #ccc;
  color: black;
}

.coord-photo-cell-enabled {
  background-color: #444;
  color: white;
}
