.gallery-image {
  margin: 4px;
  margin-bottom: 4px;
  display: inline-block;
  position: relative;
}

.gallery-image .gallery-zoom {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.gallery-image .gallery-book {
  position: absolute;
  bottom: 8px;
  left: 8px;
}

.gallery-image .gallery-photo-time {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #fff;
  font-size: 12px;
  text-shadow: 1px 1px #000;
}

.gallery-image-img {
  border: 1px white;
}

.gallery-image-img:hover {
  border: 1px gray;
}

.gallery-container {
  text-align: center;
}
