.gallery-image {
  margin: 4px;
  margin-bottom: 4px;
  display: inline-block;
  position: relative;
}

.gallery-image .gallery-zoom {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.gallery-image .gallery-book {
  position: absolute;
  bottom: 8px;
  left: 8px;
}

.gallery-image .gallery-photo-time {
  z-index: 10;
  position: absolute;
  top: 8px;
  right: 8px;
  color: #fff;
  font-size: 12px;
  text-shadow: 1px 1px #000;
}

.gallery-image-img {
  border: 1px white;
}

.gallery-image-img:hover {
  border: 1px gray;
}

.gallery-container {
  text-align: center;
}

.gallery-image .gallery-image-exif-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  color: #fff;
  font-size: 14px;
  text-shadow: 1px 1px #000;
  width: 100%;
  display: none;
}

.gallery-image-hover {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
}

.gallery-image-hover:hover + .gallery-image-exif-container {
  display: block;
}

.gallery-image:hover {
  filter: drop-shadow(5px 5px 10px #000);
}
