<p>
  Lata: {{ other_year_links }}
</p>

<p>
  W roku <strong>{{ year }}</strong> napisałem <strong>{{ post.count }}</strong> wpisów.
</p>

<p>
  Spędziłem <strong>{{ hours }} godzin</strong> w terenie i przebyłem <strong>{{ distance }} km</strong>.
  Z czego na rowerze <strong>{{ bicycle_hours }} godzin</strong> i przebyłem <strong>{{ bicycle_distance }} km</strong>
</p>

<p>
  Tyle razy byłem w województwach: {{ voivodeships_stats }}
</p>

<table class="table">
  <thead>
    <th>Data</th>
    <th>Tytuł</th>
    <th>[km]</th>
    <th>[h]</th>
    <th></th>
  </thead>
  <tbody>
    {{ posts_list }}
  </tbody>
</table>

<table class="table">
  <thead>
    <th>Miesiąc</th>
    <th>Suma</th>
    <th>Rower</th>
    <th>Pieszo</th>
    <th>Czas</th>
  </thead>
  <tbody>
    {{ months_list }}
  </tbody>
</table>
