<ul class="list-inline text-center">
    <li>
        <a type="application/rss+xml" href="/feed.xml">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>

    <li>
        <a href="https://twitter.com/bobik314">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>

    <li>
        <a href="https://www.facebook.com/AKwiatkowskiPhotosVideosTrips">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>

    <li>
        <a href="https://github.com/akwiatkowski">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>

</ul>
