<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">{{ site.title }}</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">


    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="voivodeship-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Województwa
        </a>
        <div class="dropdown-menu" aria-labelledby="voivodeship-dropdown">
          {{ nav-voivodeships }}
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="tag-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tagi
        </a>
        <div class="dropdown-menu" aria-labelledby="tag-dropdown">
          {{ nav-tags }}
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="tag-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Krainy
        </a>
        <div class="dropdown-menu" aria-labelledby="tag-dropdown">
          {{ nav-lands }}
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/portfolio">Portfolio</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/list">Lista</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/map">Mapa</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/more">Więcej</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-center">
      <li class="nav-item small">
        {{ nav-stats }}
      </li>
    </ul>
  </div>
</nav>
