---
layout: default
---

{% for data_place in site.data.places %}
  {% if data_place.slug == page.place %}
    {% assign place = data_place %}
  {% endif %}
{% endfor %}


<!-- Post Header -->
<header class="intro-header" style="background-image: url('{% if place.header-ext-img %}{{ place.header-ext-img }}{% else %}{{ site.header-ext-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>Artykuły w miejscu: {{ place.name }}</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
{% if content %}
<div class="container">
        <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        {{ content }}
                </div>
        </div>
</div>
{% endif %}

<!-- Post Content -->
<article>
    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        {% for post in site.posts %}
          {% for place_slug in post.places %}
            {% if place_slug == place.slug %}
            
              <div class="post-preview">
                <a href="{{ post.url | prepend: site.baseurl }}">
                  <h2 class="post-title">
                    {{ post.title }}
                  </h2>
                  {% if post.subtitle %}
                    <h3 class="post-subtitle">
                      {{ post.subtitle }}
                    </h3>
                  {% endif %}
                </a>
                <p class="post-meta">
                  Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
                </p>
              </div>
              <hr>
            
            {% endif %}
          {% endfor %}
        {% endfor %}          
            
      </div>
    </div>
  </div>
</article>

<hr>

