<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
        {{ todo }}

        <div class="post-meta-block">
          {{ tags_content }}
          {{ towns_content }}
          {{ voivodeships_content }}
          {{ foreign_content }}
          {{ lands_content }}
        </div>

        {{ pois_container }}

        {{ svg_map }}

				{{ content }}

        {{ finished_at_container }}

        {{ related_container }}

        <div class="post-pager-container">
          {{ prev_post_pager }}
          {{ gallery_pager }}
          {{ next_post_pager }}
        </div>

      </div>
    </div>
  </div>
</article>
