<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
        {{ todo }}

        <p>
          {{ tags_content }}
          {{ towns_content }}
          {{ voivodeships_content }}
          {{ lands_content }}
        </p>

        {{ pois_container }}

        {{ svg_map }}

				{{ content }}

        {{ related_container }}

        {{ finished_at_container }}

        <hr>

        <div class="btn-group" role="group" aria-label="Przyciski wpisu">
          {{ prev_post_pager }}
          {{ gallery_pager }}
          {{ next_post_pager }}
        </div>

      </div>
    </div>
  </div>
</article>

<hr>
