<article>
  <div class="container">
    <div class="row">
      <div class="">
        <p>Ilość zdjęć: {{ photos.count }}</p>

        <div class="post-photo-gallery lg-enabled">
          {{ content }}
        </div>

        <hr>
        {{ stats }}

        <a class="btn btn-light" href="{{ stats.path }}">Szczegóły statystyk</a>
        <a class="btn btn-light" href="/photo_map/for_post/{{ post.slug }}/big.svg">Mapa zdjęć i trasy</a>

        <hr>

        <ul class="pager">
          {{ prev_post_pager }}
          {{ post_pager }}
          {{ next_post_pager }}
        </ul>

      </div>
    </div>
  </div>
</article>

<hr>

<script type="text/javascript">
  $(document).ready(function () {
    galleryMasonry();
  });
</script>
