<article>
  <div class="container">
    <div class="row">
      <div class="">
        <p>Ilość zdjęć: {{ photos.count }}</p>

        <div class="post-photo-gallery lg-enabled">
          {{ content }}
        </div>

        <hr>
        {{ stats }}
        <hr>

        <ul class="pager">
          {{ prev_post_pager }}
          {{ post_pager }}
          {{ next_post_pager }}
        </ul>

      </div>
    </div>
  </div>
</article>

<hr>

<script type="text/javascript">
  $(document).ready(function () {
    galleryMasonry();
  });
</script>
