<header class="intro-header" style="background-image: url('{{ post.image_url }}'); background-position: {{ post.image.position }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="post-heading">
                    <h1>{{ post.title }}</h1>
                    <h2 class="subheading">{{ post.subtitle }}</h2>
                    <span class="meta">{{ post.author }}, {{ post.date }} ({{ post.date.day_of_week }})</span>
                </div>
            </div>
        </div>
    </div>
</header>
