<div class="alert alert-warning">
  <strong>
    Nie przestrasz się, proszę!
    Wpis nie został jeszcze dokończony.
  </strong>

  <p>
    Procedura tworzenia wpisów
    wygląda następująco:
  </p>

  <p>
    <ol>
      <li>Bycie w terenie - czyli aktywność która zostanie opisana,</li>
      <li>Utworzenie pustego wpisu - zdjęcie, trasa, informacje o kilometrach, gminach, ...</li>
      <li>Notatki - strzępki ulotnych informacji w formie listy</li>
      <li>Tekst wstępny</li>
      <li>Poprawki w tekście</li>
      <li>Media - głównie zdjęcia, czasem filmik</li>
    </ol>
  </p>

  <p>
    Widzisz to, ponieważ niestety jeszcze nie miałem czasu aby
    napisać i poprawić tekst wpisu. Będę to robił stopniowo gdy pogoda
    nie będzie sprzyjać wyjazdom.

    Dokończone wpisy możesz zobaczyć na
    <a href="/">stronie głównej</a> lub na
    <a href="/tag/main/">liście wpisów</a>.
  </p>
</div>
